body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.flex{
    display: flex;
    align-items: center;
}

.container{
    width: 100%;
    height: 100vh;
}

/* Home */
.home-container{
    margin: auto;
    width: 70%;
    margin-top: 40px;
}
/* ------- */

/* Navbar */
.navbar-container{
    width: 70%;
    height: 70px;
    border-bottom: 2px solid #ccc;
    justify-content: flex-end;
    margin: auto;
}
.navbar-box{
    width: 50%;
    justify-content: space-between;
}
.logo{
    font-size: 34px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #555;
    width: 125px;
    margin-left: -62.5px;
}
a{
    text-decoration: none;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #555;
    color: #fff;
    font-weight: bolder;
    display: grid;
    place-content: center;
    font-size: 18px;
}
/* ----- */

/* Category */
.category-container{
    width: 65%;
    height: 20px;
    justify-content: space-between;
    margin: auto;
}
.category{
    width: 180px;
    border-bottom: 2px solid #ccc;
    justify-content: center;
    padding: 5px;
    color: #555;
    cursor: pointer;
}

.active{
    border-bottom: 2px solid #555;
}
/* ----- */

/* Products */
.products-container{
    margin: auto;
    width: 100%;
    margin-top: 80px;
}

.info{
    text-align: center;
    font-size: 18px;
    color: #555;
}


/* ----- */

/* Auth */
.login-container{
    width: 70%;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.auth-container{
    margin: auto;
    width: 335px;
    height: 250px;
}
.auth-form{
    height:100%;
    flex-direction: column;
    justify-content: space-around;
}

.form-input{
    width: 100%;
    height: 20px;
    outline: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 7px;
}

.error{
    border: 1px solid red !important;
}

.auth-container span{
    padding: 8px;
    border-radius: 50%;
    background-color: #555;
    color: white;
    font-size: 21px;
}

.btn{
    margin-top: 15px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 2px;
    width: 100%;
    padding: 7px;
    cursor: pointer;
    font-size: 15px;
    box-sizing: content-box;
}

.label-error{
    color: red;
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-bottom: -10px;
}

/* ----- */

/* Product */
.products-grid{
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.product-container{
    width: 295px;
    height: 360px;
    border: 1px solid #ccc;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
}

.delete-info{
    width: 100%;
    justify-content: center;
    animation: animate 0.5s;
}


.img{
    width: 280px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 auto;
}
/* ----- */

/* Pagination */
.pagination-container{
    margin: auto;
    justify-content: center;
    height: 150px;
}
.paginate-box{
    justify-content: center;
    flex-wrap: wrap;
}
.paginate{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: grid;
    place-content: center;
    font-size: 18px;
    color: #555;
    margin: 0 10px 10px 10px;
    cursor: pointer;
}

.active-page{
    background-color:#ccc;
}

/* ---- */

/* Create Form */
.form-container{
    width: 100%;
    height: 100%;
    animation: animate 0.5s;
}

.create-form-input{
    width: 80%;
    height: 15px;
    outline: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 7px;
    margin: 8px;
}

.create-label{
    width: 80%;
    display: block;
    text-align: left;
    font-size: 12px;
    color: #555;
    margin: 5px auto 0 auto;
}
.create-btn{
    margin-top: 35px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 2px;
    width: 80%;
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
    box-sizing: content-box;
}
/* ---- */

/* Search */
.search-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.search{
    width: 297px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 0 auto 20px auto;
}
.search-input{
    width: 225px;
    outline: none;
    padding: 0;
    padding: 7px;
    border: 0;
    text-align: center;
}

/* ----- */

@keyframes animate{
    from {transform: scale(0);}
    to {transform: scale(1);}
}

/* RWD */

@media only screen and (max-width: 920px) {
    .navbar-box {
        width: 100%;
    }
    .logo{
        margin: 0;
    }
}

@media only screen and (max-width: 1700px) {
    .category-container{
        width: 75%;
    }
}

@media only screen and (max-width: 1550px) {
    .category-container{
        width: 80%;
    }
}

@media only screen and (max-width: 1400px) {
    .category-container{
        width: 90%;
    }
}

@media only screen and (max-width: 1300px) {
    .category-container{
        width: 100%;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1150px) {
    .category-container{
        width: 100%;
        height: 170px;
        flex-direction: column;
        justify-content: space-around;
    }
    .category{
        width: 300px;
    }
}

@media only screen and (max-width: 450px) {
    .auth-container{
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .home-container{
        width: 100%
    }
}