body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.flex{
    display: flex;
    align-items: center;
}

.container{
    width: 100%;
    height: 100vh;
}

/* Home */
.home-container{
    margin: auto;
    width: 70%;
    margin-top: 40px;
}
/* ------- */

/* Navbar */
.navbar-container{
    width: 70%;
    height: 70px;
    border-bottom: 2px solid #ccc;
    justify-content: flex-end;
    margin: auto;
}
.navbar-box{
    width: 50%;
    justify-content: space-between;
}
.logo{
    font-size: 34px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #555;
    width: 125px;
    margin-left: -62.5px;
}
a{
    text-decoration: none;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #555;
    color: #fff;
    font-weight: bolder;
    display: grid;
    place-content: center;
    font-size: 18px;
}
/* ----- */

/* Category */
.category-container{
    width: 65%;
    height: 20px;
    justify-content: space-between;
    margin: auto;
}
.category{
    width: 180px;
    border-bottom: 2px solid #ccc;
    justify-content: center;
    padding: 5px;
    color: #555;
    cursor: pointer;
}

.active{
    border-bottom: 2px solid #555;
}
/* ----- */

/* Products */
.products-container{
    margin: auto;
    width: 100%;
    margin-top: 80px;
}

.info{
    text-align: center;
    font-size: 18px;
    color: #555;
}


/* ----- */

/* Auth */
.login-container{
    width: 70%;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.auth-container{
    margin: auto;
    width: 25%;
    height: 250px;
}
form{
    height:100%;
    flex-direction: column;
    justify-content: space-around;
}

.form-input{
    width: 100%;
    height: 20px;
    outline: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 7px;
}

.error{
    border: 1px solid red;
}

.auth-container span{
    padding: 8px;
    border-radius: 50%;
    background-color: #555;
    color: white;
    font-size: 21px;
}

.btn{
    margin-top: 15px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 2px;
    width: 100%;
    padding: 7px;
    cursor: pointer;
    font-size: 15px;
    box-sizing: content-box;
}

.label-error{
    color: red;
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-bottom: -10px;
}

/* ----- */

/* Product */
/* .products-grid{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
} */

/* .products-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px 25px;
    grid-auto-flow: row;
} */

.products-grid{
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.product-container{
    width: 295px;
    /* height: 200px; */
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 20px;
}




  .h { grid-area: h; }
  
  .k { grid-area: k; }
  
  .l { grid-area: l; }
  
  .o { grid-area: o; }
  
  .p { grid-area: p; }
  
  .pp { grid-area: pp; }
  


/* ----- */